NAPCAT_WS_HOST=0.0.0.0

NAPCAT_WS_PORT=8082

BOT_ID=123456789

BOT_NAME=蛋总

HIDE=False

OWNER_NAME=蛋烧肉粽

OWNER_ID=944878197


BASE_MODEL=deepseek-v4-flash

MODEL_API_KEY=sk-xxxxxxxx

MODEL_URL=https://api.deepseek.com

LLM_TIMEOUT=60

LLM_TEMPERATURE=0.2
